body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.header-fix {
    background-color: #ffffff;
    box-shadow: 0 1px 1px #ccc;
    padding: 10px 60px;
    height: 100px;
    /* color: #ffffff; */
    box-sizing: border-box;
    top: -100px;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
    margin-bottom: 3em;
}
body.fixed .header-fix {
    padding: 10px 60px;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}
.header-fix .header-limit .user-logged {
    float: right;
    line-height: 49px;
    margin: 0;
    font-size: 16px;
    margin-top: 10px;
}
.header-fix .header-limit h1 {
    float: left;
    line-height: 47px;
    margin: 0;
    color: #fff;
    font-size: 22px;
}
h1, h2, h3, h4, h5, h6 {
    color: #161f23;
    margin: 0px 0px 15px 0px, sans-serif;
    font-weight: 700;
}
a {
    text-decoration: none;
    color: #6d767a;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
a:focus, a:hover {
    text-decoration: none;
    color: #235f83;
}
hr {
    border-top: 1px solid #e4e7e9;
    margin-bottom: 21px;
    margin-top: 34px;
}
.btn-default {
    color: #000;
    border: 1px solid #333;    
    background-color: #ffffff;
}
.btn-default:hover {
    background-color: #006899;
    color: #fff;
    border: 1px solid #006899;
}
.btn-default.focus, .btn-default:focus {
    background-color: #ec8a13;
    color: #fff;
    border: 1px solid #ec8a13;
    box-shadow: 0 0 0 0.1rem rgb(236, 138, 19);
}
.form-control {
    border-radius: 0px;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    /* height: 64px;
    */
    /* padding: 16px 20px;
    */
    line-height: 1.42857143;
    border: 1px solid #d6dadc;
    /* background-color: #fff;
    */
    text-transform: capitalize;
    letter-spacing: 0px;
    margin-bottom: 30px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    color: #011c28;
}
.form-control:focus {
    color: #011c28;
    outline: 0;
    box-shadow: 0 0 0 0.0rem rgb(255, 255, 255);
    border-color: #c9cdd0;
    background-color: #f0f4f6;
}
.footer2 {
    background-color: #5e275e;
    color: #636e74;
    font-weight: 400;
    font-size: 17px;
    margin-top: 8em;
    margin-left: -10px;
    margin-right: -10px;
    padding: 34px 119px 0px 119px;
}
.footer2-line {
    border-color: #ffffff;
}
.footer2-widget {
    padding-bottom: 50px;
}
.footer2-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #fff;
}
.footer2-widget ul li a {
    text-transform: capitalize;
    font-size: 15px;
    color: #eeeeee;
    display: block;
    font-weight: 500;
}
.footer2-widget ul li a:hover {
    color: #fff;
}
.newsletter-form {
    padding-top: 15px;
}
.newsletter-form .form-control {
    background-color: #420741;
    border-color: #420741;
}
.newsletter-form .form-control:focus {
    color: #fff;
}
.newsletter-form input::-webkit-input-placeholder {
    color: #fff !important;
}
.newsletter-form input:focus::-webkit-input-placeholder {
    color: #fff !important;
}
.tiny-footer2 {
    font-size: 14px;
    padding: 5px 0px;
    font-weight: 600;
    background-color: transparent;
    border-top: 1px solid #eeeeee;
    color: #fcfcfc;
    line-height: 1;
}
table {
    margin-bottom: 3px !important;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px;
    margin-left: 0px !important;
}

.nav > li.active {
    border-left: 0px solid #19aa8d;
    background: #5e275e;
}

.nav > li > a {
    color: #050505;
    font-weight: 600;
    padding: 13px 13px 12px 6px;
}



td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

.showHideButtons {
    position: relative;
    clear: both;
    background: #fff;
    padding: 2em;
    margin: 1em;
    margin-bottom: 0px;
}

.ibox-content {
    padding: 15px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

#bpm-task-details-ibox-content {
    padding: 2em;
    margin: 1em;
}

#bpm-task-details-title {
    background-color: rgb(255, 255, 255);
    color: inherit;
    margin-bottom: 0px;
    min-height: 30px;
    border-color: rgb(231, 234, 236);
    border-image: none 100% / 1 / 0 stretch;
    border-style: none solid solid solid;
    border-width: 0px 0px 1px;
    padding: 0px 0px;
    font-size: 18px;
    font-weight: 700;
}

#bpm-task-details-ibox-content > div > div > p{    
   margin: 10px 0 0 0;
   min-height: 90px;
}
.col-md-4{
    border-bottom: 1px solid #eee;
    min-height: 90px;
}

.white-bg {
    background-color: #f1f1f1;
    padding: 10px;
}
.container-bpm{
    margin-top:0px !important; 
}

body > footer > div > div {
    border-width: 0px !important;
}